#login-success-modal {
    position: initial !important;
    margin-top: 0 !important;
    box-sizing: content-box !important;
    width: 30% !important;
}

#login-success-modal > div > div.modal-footer {
    display: flex;
    flex-direction: row-reverse;
}