@import 'src/styles/vars';


#modale > div > form > div:nth-child(5) > div > label{
  color:red;
}


body > div.ui.top.aligned.page.modals.dimmer.transition.visible.active > div{
  animation: modal .5s alternate ease;
}


.settings {
  
  //border: 2px solid #39828E;
  padding: 2rem;
  border-radius: 10px;
  //display: inline-block;
  width: auto;
  //display: flex;
  //align-items: center;

  & h2{
    margin-bottom: 5%;
  }
  

}

#field-prenom, #field-nom, #field-password, #field-confirmPassword, #field-email{
  margin-bottom: 5%;
} 

#modale > div > form > button{
  background-color:  #39828E;
}

.form-settings {
  width: 80%;
  margin: auto;
  &-submit {
    width: 100%;
    border: none;
    padding: .7em 1em;
    font-weight: 700;
    color: #fff;
    border-radius: .5em;
  }
  & button{
    background-color:  #39828E;
  }

  @keyframes modal {
   0% {
     transform: scale(.7);
     opacity: 0;
   }  100% {
    transform: scale(1);
    opacity: 1;
  }
}
}

@media (max-width: 955px) {
  .form-settings {
    width: 100%;
  }
  #modale > div {
    width: 100%;
  }
  #field-prenom, #field-nom, #field-password, #field-confirmPassword, {
  margin-bottom: 2em;
} 
}

