#body > div.modal > div > div > div.modal-header > div > i {
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

#inputGroupPrepend {
    background-color: white;
    border-left: none;
}

.wrong {
    color: red;
}
