#home {
    width: 100%;
    height: 92vh;
    background-image: url("/src/img/267916-P55Y2I-54.jpg");
    background-position: bottom;
    background-size: cover;
}

h1 {
    width: 50%;
    margin: auto;
    padding-top: 5.3rem;
    text-align: center;
    font-size: 6em;
}