#produit {
  margin-right: 1em;
  border-bottom: 1px solid lightgray;
}

img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#produit > div > div > div > div.eight.wide.column > div{
  font-size: 1.3em;
  padding: 0.2rem;

}
