#body > div.modal > div > div > div.modal-header > div > i {
    cursor: pointer;
}

#register-modal {
    position: absolute;
    right: 2em;
    top: 5vh;
    box-sizing: content-box;
    width: 30%;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

#inputGroupPrepend {
    background-color: white;
    border-left: none;
}

.wrong {
    color: red;
}

#register-modal > div > div.modal-footer > button.btn.btn-secondary {
    padding: .4em 1.5em .4em 1.5em;
}