@import '../../../styles/vars';

#breadcrumb {
  
  left: 2px;
 
}

#checkout {
  width: 90%;
  margin: 0 auto;
}

#prod {

  border-bottom: 1px solid lightgray;
}

#produit {

  & img {
    text-align: center;
  }

  & button > #trash{
    background-color: $bg-color;
    color: white;
    transition-duration: .3s;
    font-size: 0.9em;
    &:hover {
      color: rgb(108, 169, 253);
      transition-duration: .3s;
    }
 
  }

}

#checkout{
  margin-top: 1.5rem;
}
#quantite {
  width: 50%;
  display: flex;
  padding: 1px;
  vertical-align: middle;
}

strong {
  font-size: 1em;
}

#login-btn > #connexionPanier{
 background-color: rgb(148, 5, 5);
}
