@import '../../../styles/vars';

#main{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
  width: 100vw;
}
video {

  max-width: 100%;
}
#main > img {
  position: absolute;
  top: -10px;
  max-height: 100vh;
  width: 100%;
}

#fleche{
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  color: white;
}

#pres {
  margin-top: 100vh;
  margin-bottom: 30vh;
}
// Change the next icon
.carousel-next:before {
  background-image: url('/src/img/icons8-chevron-right-50.png');
}

// Change the previous icon
.carousel-prev:before {
  background-image: url('/src/img/icons8-chevron-left-50.png');
}

#slicer {
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

// Set the images width & height
#img {
  width: 70%;
  height: 300px;
  margin: auto;
}

#description {
  margin-top: 1em;
  margin-bottom: 5em;
  background: rgba(236, 236, 236, 0.35);
  padding: 1em;
  
}
#description-title {
  margin: auto;
  width: 10%;
}
#description-content {
  transition-duration: .3s;
  margin-top: 2em;
  margin: auto;
  margin-bottom: 4em;
  padding: 2em;
  text-align: left;
  width: 30%;
  background: rgb(255, 255, 255);
}
#description-content:hover {
  transition-duration: 0.3s;
  background: rgba(126, 162, 212, 0.35);
  box-shadow: -1px 10px 63px 4px rgba(153, 131, 131, 0.356);
  color: white;
}

#animate {

  & h2 {
    margin-bottom: 0.9em;
    margin-top: 1em;
    padding: 0;
  }

}

#presentationSegment {
  margin: auto;
}

#presentation-text {
  text-align: left;
  background-color: white;
  padding: .5em;
}

#titleanimate {
  padding: 1em;
  background: #f4f7f9;

  & h2 {
    font-size: 2.5em;
    color: white;
  }
}

@media (max-width: 955px) {
  #slicer {
    width: 100%;
  }
  #pres {
  margin-top: 15em;
  margin-bottom: 15em;
  }
  #titleanimate {
    margin-top: 2em;
  }

  #description {
    margin-top: 2em;
  }
  #description-title {
    width: 30%;
    margin-bottom: 1em;
  }
  #description-content {
    width: 100%;
  }
  #titleanimate {
    padding-bottom: 0em;
    margin-bottom: 0em;
    & h2 {
      margin-top: 0em;
      margin-bottom: 0em;
      font-size: 2.5em;
      color: white;
      
    }
  }
  #presentationSegment {
    margin-right: 0em;
    margin-left: 0em;
  }
}
