@import '../../../styles/vars';

#produits {
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 3em;
 
}
#breadcrumb {
  margin-right: 0;
}
#produits-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  line-height: .3em;
}

div.extra.content {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#segment {
  background-color: $border-bottom-bandeau;
  z-index: 0;
}

#prix {
  width: 60%;
  margin-right: 0.5em;

  & strong {
    font-size: 1.2em;
    font-weight: bold;
    color: $bg-color;
  }
}

div.hidden.content {
  padding: 0.5em;
}

#promo{
  position: absolute;
  left: 0rem;
  top: 28rem;
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  transform: rotate(-45deg)
}

#former-price {
  margin-left: 2.5rem;
  margin-right: 1rem;
  text-decoration: line-through;
}