#inactive {
  display: none;
}

.menu{
  animation: open-sub-menu .8s ease;
  background: rgb(225, 225, 255);
  z-index: 10;
}

#menu-sub-menu {
  margin-bottom: 40px;
  z-index: 11;

  #search-bar-sub > div {
    margin-top: 0;
  }
}
.ui.menu.fluid, .ui.vertical.menu.fluid {
  margin-bottom: 40px;
}

.fluid {
  background: rgba(255, 255, 255, 1);
}
@keyframes open-sub-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menu-sub-menu > div {
}
