$bg-color: #244958;
$or-color: #fa7503;
$lgtblue-color : #cfe1f9;
$lgtbg-color: #39828E;


// Nouveau code couleur :

// Transparence
$bandeau-header : rgba(97, 118, 128, 0.35);
// Border bottom du bandeau, avec transparence
$border-bottom-bandeau: rgba(255, 255, 255, 0.199);
// Liens : white
// Liens au hover :
$hover-links : rgb(108, 169, 253);

// Background color sur les boutons : $bg-color

// Background color du footer :
$bandeau-footer : rgba(97, 118, 128, 0.35);

$main-bg : rgb(255, 255, 255);

$main-bg-hover : rgba(126, 162, 212, 0.35);

